  #num
  {
    background-color: blanchedalmond;
  }
  nav {
    overflow: hidden;
    background-color:black;
    margin: 0px;
    align-items: center;
    justify-content: space-around;
    /* display: flex; */
  }
  
  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav a:hover {
    background-color:darksalmon;
    color: black;
    font-weight: bold;
  }
  
   img{
    text-align: center;
    margin-left: 27rem;
    height: 18rem;
    object-fit: contain;
    /* width:100%;
    height:100%;
    margin-left: 17rem;
    height: 22rem; */
} 
span{
  font-weight: bolder;
  color: darksalmon;
  font-size: 1.5rem;
}
  .head{
      background-color: lightgray;
      color:black;
      font-weight: bold;
      font-family: sans-serif;
      text-align: center;
  }
.strength1
{
    width: 50%;
border-radius: 25px;
background:lightgrey;
}
.strength2
{
border-radius: 25px;
background:darksalmon;
text-align: center;
color: white;
}
.awesome
{
    color:darksalmon;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }

 button
  {background-color: #555555;
  color: aliceblue;
  }
